Repository aria-ml/dataeval: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

Path conditions:
  docs: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  update cache: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  minimum install: any of: src/**/*, tests/**/*, uv.lock
  typecheck: any of: src/**/*, tests/**/*, uv.lock
  verify lock: any of: pyproject.toml, uv.lock
  doctest: any of: src/**/*, docs/**/*, uv.lock, *.md
  linkchecker: any of: src/**/*, docs/**/*, uv.lock, *.md
  markdownlint: any of: src/**/*, docs/**/*, uv.lock, *.md
  pages preview: any of: src/**/*, docs/**/*, uv.lock, *.md

ghrs: report 06-27-2315-0C4F for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 06-28-2315-CD9D for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-28_231512_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-28_231512_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-28_231512_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-28-2315-CD9D for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-28_231512_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-28-2315-CD9D for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 06-29-2315-199C for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-29_231513_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-29_231513_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-29_231513_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-29-2315-199C for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-29_231513_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-29-2315-199C for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 06-30-2315-E329 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-30_231525_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-30_231525_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-30_231525_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 06-30-2315-E329 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-06-30_231525_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 06-30-2315-E329 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Release v0.88.1
  CHANGELOG.md
  docs/source/.jupyter_cache/global.db
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

Release v0.88.1
  CHANGELOG.md
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

pruning concept page
  docs/source/concepts/Prioritization.md
  docs/source/concepts/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-01-2315-C55F for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-01_231524_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-01_231524_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-01_231524_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-01-2315-C55F for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-01_231524_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-01-2315-C55F for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Drift docstring update
  docs/source/concepts/Drift.md
  docs/source/reference/glossary.md
  src/dataeval/detectors/drift/_base.py
  src/dataeval/detectors/drift/_cvm.py
  src/dataeval/detectors/drift/_ks.py
  src/dataeval/detectors/drift/_mmd.py
  src/dataeval/detectors/drift/_uncertainty.py
  src/dataeval/outputs/_drift.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-02-2316-E63E for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-02_231607_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-02_231607_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-02_231607_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-02-2316-E63E for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-02_231607_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-02-2316-E63E for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Sufficiency: explicitly implement for operational metrics
  docs/source/notebooks/h2_measure_ic_sufficiency.ipynb
  pyproject.toml
  src/dataeval/outputs/_workflows.py
Due: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

Sufficiency: explicitly implement for operational metrics
  docs/source/.jupyter_cache/executed/cf81ea52b18e03e0905b73f4ccde4b50/base.ipynb
  docs/source/.jupyter_cache/global.db
  docs/source/notebooks/h2_measure_ic_sufficiency.ipynb
  pyproject.toml
  src/dataeval/outputs/_workflows.py
Due: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

Embeddings Concept page
  docs/source/concepts/Embeddings.md
  docs/source/concepts/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-03-2315-0151 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-03_231537_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-03_231537_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-03_231537_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-03-2315-0151 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-03_231537_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-03-2315-0151 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-04-2315-198B for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-04_231516_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-04_231516_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-04_231516_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-04-2315-198B for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-04_231516_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-04-2315-198B for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-05-2315-1539 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-05_231514_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-05_231514_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-05_231514_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-05-2315-1539 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-05_231514_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-05-2315-1539 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-06-2315-C3C1 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-06_231530_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-06_231530_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-06_231530_views_clones_series_fragment.csv
Due: none
