Repository aria-ml/dataeval: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

Path conditions:
  docs: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  update cache: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  minimum install: any of: src/**/*, tests/**/*, uv.lock
  typecheck: any of: src/**/*, tests/**/*, uv.lock
  verify lock: any of: pyproject.toml, uv.lock
  doctest: any of: src/**/*, docs/**/*, uv.lock, *.md
  linkchecker: any of: src/**/*, docs/**/*, uv.lock, *.md
  markdownlint: any of: src/**/*, docs/**/*, uv.lock, *.md
  pages preview: any of: src/**/*, docs/**/*, uv.lock, *.md

[impr] Remove torch dataset requirement from Embeddings class
  docs/source/notebooks/tt_assess_data_space.ipynb
  docs/source/notebooks/tt_monitor_shift.ipynb
  src/dataeval/data/_embeddings.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

[impr] Remove torch dataset requirement from Embeddings class
  docs/source/.jupyter_cache/executed/4cd56d64e02f7b0f6cd423c77166759d/base.ipynb
  docs/source/.jupyter_cache/executed/f24d1748c22cf3dfd7a59f3ac62f9f31/base.ipynb
  docs/source/.jupyter_cache/global.db
  docs/source/notebooks/tt_assess_data_space.ipynb
  docs/source/notebooks/tt_monitor_shift.ipynb
  src/dataeval/data/_embeddings.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 08-14-2316-8DC0 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-14_231604_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-14_231604_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-14_231604_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-14-2316-8DC0 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-14_231604_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-14-2316-8DC0 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

New test_simple_nodes() unit test for core.mst.minimum_spanning_tree()
  tests/core/test_mst.py
Due: minimum install, typecheck

[misc] Bump hdb_scan dependency and fix TBB ordering issue for numba
  environment.yaml
  poetry.lock
  pyproject.toml
  requirements.txt
  src/dataeval/core/_clusterer.py
  tests/core/test_clustering.py
  uv.lock
Due: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

[misc] Move imports for all numba compiled functions into runtime
  src/dataeval/core/_ber.py
  src/dataeval/core/_divergence.py
  tests/core/test_mst.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

[fix] Remove accidental leftover edits
  tests/core/test_mst.py
Due: minimum install, typecheck

[misc] Remove import aliases and pass max process config to sklearn
  src/dataeval/core/_diversity.py
  src/dataeval/core/_feature_distance.py
  src/dataeval/core/_mst.py
  src/dataeval/detectors/ood/knn.py
  src/dataeval/metadata/_ood.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

[misc] Refactor core stats processor modules and tests
  src/dataeval/core/_processor.py
  src/dataeval/core/processors/__init__.py
  src/dataeval/core/processors/_dimensionstats.py
  src/dataeval/core/processors/_hashstats.py
  src/dataeval/core/processors/_pixelstats.py
  src/dataeval/core/processors/_visualstats.py
  src/dataeval/detectors/linters/outliers.py
  src/dataeval/metrics/stats/_dimensionstats.py
  src/dataeval/metrics/stats/_hashstats.py
  src/dataeval/metrics/stats/_imagestats.py
  src/dataeval/metrics/stats/_pixelstats.py
  src/dataeval/metrics/stats/_visualstats.py
  tests/core/test_processor.py
  tests/core/test_processors.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 08-15-2315-14DF for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-15_231557_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-15_231557_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-15_231557_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-15-2315-14DF for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-15_231557_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-15-2315-14DF for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-16-2314-868D for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-16_231438_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-16_231438_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-16_231438_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-16-2314-868D for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-16_231438_views_clones_series_fragment.csv
Due: none

ghrs: report 08-16-2314-868D for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-17-2315-B90E for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-17_231523_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-17_231523_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-17_231523_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-17-2315-B90E for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-17_231523_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-17-2315-B90E for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-18-2315-23CC for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-18_231511_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-18_231511_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-18_231511_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-18-2315-23CC for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-18_231511_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-18-2315-23CC for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Release v0.91.1
  CHANGELOG.md
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

Release v0.91.1
  CHANGELOG.md
  docs/source/.jupyter_cache/global.db
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 08-19-2314-3432 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-19_231448_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-19_231448_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-19_231448_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-19-2314-3432 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-19_231448_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-19-2314-3432 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Changed stopping criterion when stepping trhough kNN graph and forming clusters.
  src/dataeval/core/_mst.py
  tests/metrics/test_clusterer.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview
