Repository aria-ml/dataeval: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

docs:
  needs: []
  before_script:
  - apt-get -y update; apt-get -y install curl
  - curl -LsSf https://astral.sh/uv/install.sh | env UV_UNMANAGED_INSTALL="/usr/bin" sh
  - uv venv --python 3.11; uv pip install nox[uv]; source .venv/bin/activate
  cache:
  - key:
      files:
      - environment/requirements.txt
  ...

update cache:
  stage: docs
  needs:
  - job: docs
    artifacts: true
  script:
  - git fetch --all --depth 1
  - git switch --force ${CI_COMMIT_BRANCH}${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME}
  - cp -R output/docs/.jupyter_cache/* docs/.jupyter_cache
  ...

minimum install:
  needs: []
  image: $UV_IMAGE:python$PYTHON_VERSION-$BASE_LAYER
  before_script:
  - uv pip install nox[uv] --system
  cache:
  - key:
      files:
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - data
  after_script:
  - uv cache prune --ci
  variables:
    PYTHON_VERSION: '3.10'
  script:
  - nox -e deps

typecheck:
  needs: []
  image: $UV_IMAGE:python$PYTHON_VERSION-$BASE_LAYER
  before_script:
  - uv pip install nox[uv] --system
  cache:
  - key:
      files:
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - data
  after_script:
  - uv cache prune --ci
  variables:
    PYTHON_VERSION: $PYTHON_LATEST_SUPPORTED_VERSION
  parallel:
  ...

verify lock:
  needs: []
  image: $UV_IMAGE:python$PYTHON_VERSION-$BASE_LAYER
  before_script:
  - uv pip install nox[uv] --system
  cache:
  - key:
      files:
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - data
  after_script:
  - uv cache prune --ci
  variables:
    PYTHON_VERSION: $PYTHON_LATEST_SUPPORTED_VERSION
  script:
  ...

doctest:
  needs: []
  image: $UV_IMAGE:python$PYTHON_VERSION-$BASE_LAYER
  before_script:
  - uv pip install nox[uv] --system
  cache:
  - key:
      files:
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - data
  after_script:
  - uv cache prune --ci
  variables:
    PYTHON_VERSION: $PYTHON_LATEST_SUPPORTED_VERSION
  stage: docs
  ...

linkchecker:
  stage: docs
  needs: []
  image:
    name: ghcr.io/tcort/markdown-link-check:stable
    entrypoint:
    - /bin/sh
    - -c
  script:
  - markdown-link-check *.md
  - markdown-link-check ./docs/source

markdownlint:
  stage: docs
  needs: []
  image:
    name: davidanson/markdownlint-cli2
    entrypoint:
    - ''
  script: 'markdownlint-cli2 README.md || FAIL=1
  
    markdownlint-cli2 CONTRIBUTING.md || FAIL=1
  
    markdownlint-cli2 "docs/**/*.md" "#node_modules" || FAIL=1
  
    exit $FAIL
  
    '

pages preview:
  stage: release
  artifacts:
    paths:
    - public/
  environment:
    name: $ENV_PREFIX$ENV_JOB
    url: https://jatic.pages.jatic.net/-/aria/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/public/index.html
    auto_stop_in: $ENV_AUTO_STOP_IN
  needs:
  - job: docs
    artifacts: true
  script:
  ...

ghrs: report 07-22-2317-AA5C for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Fix big in to_numpy with None
  src/dataeval/utils/_array.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-23-2317-E016 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-23_231731_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-23_231731_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-23_231731_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-23-2317-E016 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-23_231731_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-23-2317-E016 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Fix unit test to catch typo bug for empty ndarray init
  tests/utils/test_array.py
Due: minimum install, typecheck

Refactor NullModelMetrics for typing and encapsulation
  src/dataeval/functional/_nullmodel.py
  src/dataeval/metrics/estimators/__init__.py
  src/dataeval/metrics/estimators/_nullmodel.py
  src/dataeval/outputs/__init__.py
  src/dataeval/outputs/_estimators.py
  src/dataeval/outputs/_workflows.py
  tests/functional/test_nullmodel.py
  tests/metrics/test_nullmetrics.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-24-2317-F341 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-24_231720_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-24_231720_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-24_231720_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-24-2317-F341 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-24_231720_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-24-2317-F341 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Rename functional submodule to core
  src/dataeval/core/__init__.py
  src/dataeval/core/_balance.py
  src/dataeval/core/_ber.py
  src/dataeval/core/_clusterer.py
  src/dataeval/core/_completeness.py
  src/dataeval/core/_coverage.py
  src/dataeval/core/_divergence.py
  src/dataeval/core/_diversity.py
  src/dataeval/core/_feature_distance.py
  src/dataeval/core/_label_parity.py
  src/dataeval/core/_nullmodel.py
  src/dataeval/core/_parity.py
  src/dataeval/core/_uap.py
  src/dataeval/data/_metadata.py
  src/dataeval/metrics/bias/_balance.py
  src/dataeval/metrics/bias/_completeness.py
  src/dataeval/metrics/bias/_coverage.py
  src/dataeval/metrics/bias/_diversity.py
  src/dataeval/metrics/bias/_parity.py
  src/dataeval/metrics/estimators/_ber.py
  src/dataeval/metrics/estimators/_clusterer.py
  src/dataeval/metrics/estimators/_divergence.py
  src/dataeval/metrics/estimators/_nullmodel.py
  src/dataeval/metrics/estimators/_uap.py
  tests/core/test_nullmodel.py
  tests/metadata/test_metadata_distance.py
  tests/metrics/test_ber.py
  tests/metrics/test_divergence.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-25-2316-8B28 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-25_231653_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-25_231653_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-25_231653_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-25-2316-8B28 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-25_231653_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-25-2316-8B28 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Issue #922 Indexing Bug Fix
  src/dataeval/core/_coverage.py
  src/dataeval/metrics/bias/_coverage.py
  tests/metrics/test_coverage.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-26-2316-D919 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-26_231620_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-26_231620_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-26_231620_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-26-2316-D919 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-26_231620_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-26-2316-D919 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-27-2317-0F18 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-27_231708_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-27_231708_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-27_231708_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-27-2317-0F18 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-27_231708_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-27-2317-0F18 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Speedup for MST option in Divergence
  src/dataeval/core/_divergence.py
  src/dataeval/metrics/estimators/_divergence.py
  src/dataeval/utils/_fast_mst.py
  src/dataeval/utils/_mst.py
  tests/metrics/test_divergence.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

[ci skip] Remove unused code
  src/dataeval/metrics/bias/_balance.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-28-2317-AE43 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-28_231722_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-28_231722_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-28_231722_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-28-2317-AE43 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-28_231722_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-28-2317-AE43 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Release v0.90.1
  CHANGELOG.md
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

Release v0.90.1
  CHANGELOG.md
  docs/source/.jupyter_cache/global.db
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

added Selection unit tests
  tests/data/test_data_select.py
  tests/metrics/test_balance.py
Due: minimum install, typecheck

Path conditions:
  docs: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  update cache: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  minimum install: any of: src/**/*, tests/**/*, uv.lock
  typecheck: any of: src/**/*, tests/**/*, uv.lock
  verify lock: any of: pyproject.toml, uv.lock
  doctest: any of: src/**/*, docs/**/*, uv.lock, *.md
  linkchecker: any of: src/**/*, docs/**/*, uv.lock, *.md
  markdownlint: any of: src/**/*, docs/**/*, uv.lock, *.md
  pages preview: any of: src/**/*, docs/**/*, uv.lock, *.md
