Repository aria-ml/dataeval: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

docs:
  needs: []
  before_script:
  - apt-get -y update; apt-get -y install curl
  - curl -LsSf https://astral.sh/uv/install.sh | env UV_UNMANAGED_INSTALL="/usr/bin" sh
  - uv venv --python 3.11; uv pip install nox[uv]; source .venv/bin/activate
  cache:
  - key:
      files:
      - environment/requirements.txt
  ...

update cache:
  stage: docs
  needs:
  - job: docs
    artifacts: true
  script:
  - git fetch --all --depth 1
  - git switch --force ${CI_COMMIT_BRANCH}${CI_MERGE_REQUEST_SOURCE_BRANCH_NAME}
  - cp -R output/docs/.jupyter_cache/* docs/.jupyter_cache
  ...

minimum install:
  needs: []
  image: $UV_IMAGE:python$PYTHON_VERSION-$BASE_LAYER
  before_script:
  - uv pip install nox[uv] --system
  cache:
  - key:
      files:
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - data
  after_script:
  - uv cache prune --ci
  variables:
    PYTHON_VERSION: '3.10'
  script:
  - nox -e deps

typecheck:
  needs: []
  image: $UV_IMAGE:python$PYTHON_VERSION-$BASE_LAYER
  before_script:
  - uv pip install nox[uv] --system
  cache:
  - key:
      files:
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - data
  after_script:
  - uv cache prune --ci
  variables:
    PYTHON_VERSION: $PYTHON_LATEST_SUPPORTED_VERSION
  parallel:
  ...

verify lock:
  needs: []
  image: $UV_IMAGE:python$PYTHON_VERSION-$BASE_LAYER
  before_script:
  - uv pip install nox[uv] --system
  cache:
  - key:
      files:
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - data
  after_script:
  - uv cache prune --ci
  variables:
    PYTHON_VERSION: $PYTHON_LATEST_SUPPORTED_VERSION
  script:
  ...

doctest:
  needs: []
  image: $UV_IMAGE:python$PYTHON_VERSION-$BASE_LAYER
  before_script:
  - uv pip install nox[uv] --system
  cache:
  - key:
      files:
      - uv.lock
    paths:
    - $UV_CACHE_DIR
    - data
  after_script:
  - uv cache prune --ci
  variables:
    PYTHON_VERSION: $PYTHON_LATEST_SUPPORTED_VERSION
  stage: docs
  ...

linkchecker:
  stage: docs
  needs: []
  image:
    name: ghcr.io/tcort/markdown-link-check:stable
    entrypoint:
    - /bin/sh
    - -c
  script:
  - markdown-link-check *.md
  - markdown-link-check ./docs/source

markdownlint:
  stage: docs
  needs: []
  image:
    name: davidanson/markdownlint-cli2
    entrypoint:
    - ''
  script: 'markdownlint-cli2 README.md || FAIL=1
  
    markdownlint-cli2 CONTRIBUTING.md || FAIL=1
  
    markdownlint-cli2 "docs/**/*.md" "#node_modules" || FAIL=1
  
    exit $FAIL
  
    '

pages preview:
  stage: release
  artifacts:
    paths:
    - public/
  environment:
    name: $ENV_PREFIX$ENV_JOB
    url: https://jatic.pages.jatic.net/-/aria/$CI_PROJECT_NAME/-/jobs/$CI_JOB_ID/artifacts/public/index.html
    auto_stop_in: $ENV_AUTO_STOP_IN
  needs:
  - job: docs
    artifacts: true
  script:
  ...

ghrs: vc agg 07-13-2317-ACAF for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-13_231701_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-13-2317-ACAF for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-14-2316-61B2 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-14_231636_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-14_231636_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-14_231636_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-14-2316-61B2 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-14_231636_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-14-2316-61B2 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Release v0.89.1
  CHANGELOG.md
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

Release v0.89.1
  CHANGELOG.md
  docs/source/.jupyter_cache/global.db
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-15-2315-4CA0 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-15_231541_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-15_231541_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-15_231541_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-15-2315-4CA0 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-15_231541_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-15-2315-4CA0 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-16-2316-5DD7 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-16_231628_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-16_231628_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-16_231628_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-16-2316-5DD7 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-16_231628_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-16-2316-5DD7 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-17-2317-1E5E for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-17_231724_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-17_231724_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-17_231724_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-17-2317-1E5E for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-17_231724_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-17-2317-1E5E for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-18-2316-5D63 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-18_231635_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-18_231635_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-18_231635_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-18-2316-5D63 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-18_231635_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-18-2316-5D63 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-19-2317-846F for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-19_231733_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-19_231733_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-19_231733_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-19-2317-846F for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-19_231733_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-19-2317-846F for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-20-2317-BCE7 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-20_231718_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-20_231718_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-20_231718_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-20-2317-BCE7 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-20_231718_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-20-2317-BCE7 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Integrate null model metrics
  src/dataeval/metrics/estimators/_nullmodel.py
  src/dataeval/outputs/__init__.py
  src/dataeval/outputs/_estimators.py
  src/dataeval/outputs/_workflows.py
  tests/metrics/test_nullmetrics.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

Update documentation notebooks for clarity and corrections
  docs/source/notebooks/h2_cluster_analysis.ipynb
  docs/source/notebooks/h2_deduplicate.ipynb
  docs/source/notebooks/h2_detect_undersampling.ipynb
  docs/source/notebooks/h2_measure_divergence.ipynb
  docs/source/notebooks/h2_measure_ic_feasibility.ipynb
  docs/source/notebooks/h2_measure_ic_sufficiency.ipynb
  docs/source/notebooks/h2_measure_label_independence.ipynb
  docs/source/notebooks/h2_train_ae_embeddings.ipynb
  docs/source/notebooks/tt_clean_dataset.ipynb
  docs/source/notebooks/tt_monitor_shift.ipynb
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

Refactor and move functions to new `functional` submodule to prepare for new API
  src/conftest.py
  src/dataeval/data/_metadata.py
  src/dataeval/data/_split.py
  src/dataeval/functional/__init__.py
  src/dataeval/functional/_balance.py
  src/dataeval/functional/_ber.py
  src/dataeval/functional/_clusterer.py
  src/dataeval/functional/_completeness.py
  src/dataeval/functional/_coverage.py
  src/dataeval/functional/_divergence.py
  src/dataeval/functional/_diversity.py
  src/dataeval/functional/_feature_distance.py
  src/dataeval/functional/_label_parity.py
  src/dataeval/functional/_parity.py
  src/dataeval/functional/_uap.py
  src/dataeval/metadata/__init__.py
  src/dataeval/metadata/_distance.py
  src/dataeval/metrics/bias/_balance.py
  src/dataeval/metrics/bias/_completeness.py
  src/dataeval/metrics/bias/_coverage.py
  src/dataeval/metrics/bias/_diversity.py
  src/dataeval/metrics/bias/_parity.py
  src/dataeval/metrics/estimators/_ber.py
  src/dataeval/metrics/estimators/_clusterer.py
  src/dataeval/metrics/estimators/_divergence.py
  src/dataeval/outputs/_bias.py
  src/dataeval/utils/_bin.py
  tests/data/test_data_metadata.py
  tests/metadata/_shared.py
  tests/metadata/test_metadata_distance.py
  tests/metrics/test_ber.py
  tests/metrics/test_divergence.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-21-2316-0332 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-21_231642_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-21_231642_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-21_231642_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-21-2316-0332 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-21_231642_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-21-2316-0332 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Release v0.90.0
  CHANGELOG.md
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

Release v0.90.0
  CHANGELOG.md
  docs/source/.jupyter_cache/global.db
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-22-2317-AA5C for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-22_231706_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-22_231706_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-22_231706_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-22-2317-AA5C for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-22_231706_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

Path conditions:
  docs: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  update cache: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  minimum install: any of: src/**/*, tests/**/*, uv.lock
  typecheck: any of: src/**/*, tests/**/*, uv.lock
  verify lock: any of: pyproject.toml, uv.lock
  doctest: any of: src/**/*, docs/**/*, uv.lock, *.md
  linkchecker: any of: src/**/*, docs/**/*, uv.lock, *.md
  markdownlint: any of: src/**/*, docs/**/*, uv.lock, *.md
  pages preview: any of: src/**/*, docs/**/*, uv.lock, *.md
