Repository aria-ml/dataeval: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

Path conditions:
  docs: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  update cache: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  minimum install: any of: src/**/*, tests/**/*, uv.lock
  typecheck: any of: src/**/*, tests/**/*, uv.lock
  verify lock: any of: pyproject.toml, uv.lock
  doctest: any of: src/**/*, docs/**/*, uv.lock, *.md
  linkchecker: any of: src/**/*, docs/**/*, uv.lock, *.md
  markdownlint: any of: src/**/*, docs/**/*, uv.lock, *.md
  pages preview: any of: src/**/*, docs/**/*, uv.lock, *.md

ghrs: vc agg 07-06-2315-C3C1 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-06_231530_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-06-2315-C3C1 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Fix up minor typing issues
  src/dataeval/data/_embeddings.py
  src/dataeval/data/_metadata.py
  src/dataeval/typing.py
  tests/data/test_data_embeddings.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-07-2315-E78C for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-07_231552_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-07_231552_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-07_231552_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-07-2315-E78C for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-07_231552_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-07-2315-E78C for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Release v0.89.0
  CHANGELOG.md
  docs/source/.jupyter_cache/global.db
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

Release v0.89.0
  CHANGELOG.md
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-08-2316-FD40 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-08_231628_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-08_231628_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-08_231628_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-08-2316-FD40 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-08_231628_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-08-2316-FD40 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Sufficiency: Improve Global Minimization
  docs/source/notebooks/h2_measure_ic_sufficiency.ipynb
  src/dataeval/outputs/_workflows.py
  src/dataeval/workflows/sufficiency.py
  tests/workflows/test_suff_output.py
  tests/workflows/test_suff_utils.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

Sufficiency: Improve Global Minimization
  docs/source/.jupyter_cache/executed/ae32e1931707f209d479f876d575c2c7/base.ipynb
  docs/source/.jupyter_cache/global.db
  docs/source/notebooks/h2_measure_ic_sufficiency.ipynb
  src/dataeval/outputs/_workflows.py
  src/dataeval/workflows/sufficiency.py
  tests/workflows/test_suff_output.py
  tests/workflows/test_suff_utils.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

Additional clarification to Embeddings Concept page
  docs/source/concepts/Embeddings.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

Address security vulnerabilities found in lock file
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
  uv.lock
Due: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

Bump doc deps urllib3 and requests for med sev vulnerabilities
  requirements.txt
  uv.lock
Due: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-09-2316-34BE for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-09_231614_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-09_231614_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-09_231614_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-09-2316-34BE for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-09_231614_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-09-2316-34BE for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Update Duplicates docstring
  src/dataeval/detectors/linters/duplicates.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 07-10-2316-A758 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-10_231608_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-10_231608_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-10_231608_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-10-2316-A758 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-10_231608_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-10-2316-A758 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-11-2316-F0E9 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-11_231609_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-11_231609_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-11_231609_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-11-2316-F0E9 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-11_231609_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-11-2316-F0E9 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-12-2316-3F0E for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-12_231636_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-12_231636_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-12_231636_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 07-12-2316-3F0E for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-12_231636_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 07-12-2316-3F0E for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 07-13-2317-ACAF for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-13_231701_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-13_231701_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-07-13_231701_views_clones_series_fragment.csv
Due: none
