Repository aria-ml/dataeval: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

Path conditions:
  docs: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  update cache: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  minimum install: any of: src/**/*, tests/**/*, uv.lock
  typecheck: any of: src/**/*, tests/**/*, uv.lock
  verify lock: any of: pyproject.toml, uv.lock
  doctest: any of: src/**/*, docs/**/*, uv.lock, *.md
  linkchecker: any of: src/**/*, docs/**/*, uv.lock, *.md
  markdownlint: any of: src/**/*, docs/**/*, uv.lock, *.md
  pages preview: any of: src/**/*, docs/**/*, uv.lock, *.md

ghrs: vc agg 08-07-2317-70EA for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-07_231720_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-07-2317-70EA for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Refactor stats to core module and remove dimensionstats from imagestats
  .markdownlint.yaml
  docs/source/concepts/AlgorithmSummary.md
  docs/source/concepts/DataCleaning.md
  docs/source/concepts/ImageStats.md
  docs/source/concepts/Outliers.md
  docs/source/concepts/index.md
  docs/source/notebooks/tt_clean_dataset.ipynb
  src/dataeval/core/_imagestats.py
  src/dataeval/detectors/linters/outliers.py
  src/dataeval/metrics/stats/__init__.py
  src/dataeval/metrics/stats/_base.py
  src/dataeval/metrics/stats/_dimensionstats.py
  src/dataeval/metrics/stats/_hashstats.py
  src/dataeval/metrics/stats/_imagestats.py
  src/dataeval/metrics/stats/_pixelstats.py
  src/dataeval/metrics/stats/_visualstats.py
  src/dataeval/outputs/__init__.py
  src/dataeval/outputs/_linters.py
  src/dataeval/outputs/_stats.py
  src/dataeval/utils/_boundingbox.py
  src/dataeval/utils/_image.py
  src/dataeval/utils/_multiprocessing.py
  tests/detectors/test_outliers.py
  tests/metrics/test_stats.py
  tests/utils/test_boundingbox.py
  tests/utils/test_image.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

Fix assertion code in visualizing linting issues how-to notebook
  docs/source/notebooks/h2_visualize_linting_issues.ipynb
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

added resolve_indices() and related unit tests
  src/dataeval/data/_selection.py
  tests/data/test_data_select.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

added resolve_indices() and related unit tests
  docs/source/.jupyter_cache/executed/a40d178d7556af7ac92129db3271471c/base.ipynb
  docs/source/.jupyter_cache/global.db
  src/dataeval/data/_selection.py
  tests/data/test_data_select.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

Drop image datum metadata for 0 target images
  src/dataeval/utils/_merge.py
  tests/utils/test_metadata.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 08-08-2316-3436 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-08_231604_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-08_231604_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-08_231604_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-08-2316-3436 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-08_231604_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-08-2316-3436 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-09-2315-8066 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-09_231539_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-09_231539_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-09_231539_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-09-2315-8066 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-09_231539_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-09-2315-8066 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-10-2315-D100 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-10_231539_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-10_231539_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-10_231539_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-10-2315-D100 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-10_231539_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-10-2315-D100 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-11-2315-4D12 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-11_231524_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-11_231524_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-11_231524_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-11-2315-4D12 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-11_231524_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-11-2315-4D12 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Release v0.91.0
  CHANGELOG.md
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

Release v0.91.0
  CHANGELOG.md
  docs/source/.jupyter_cache/global.db
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

[misc] Remove explicit submodule imports from inits and drop unused function in PoolWrapper
  src/dataeval/__init__.py
  src/dataeval/detectors/__init__.py
  src/dataeval/metrics/__init__.py
  src/dataeval/outputs/_drift.py
  src/dataeval/outputs/_result.py
  src/dataeval/utils/__init__.py
  src/dataeval/utils/_multiprocessing.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

[misc] Add more unit tests
  src/dataeval/core/_bin.py
  src/dataeval/core/_parity.py
  src/dataeval/detectors/ood/base.py
  tests/core/test_bin.py
  tests/core/test_core_parity.py
  tests/core/test_feature_distance.py
  tests/detectors/test_ood_base.py
  tests/detectors/test_outliers.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 08-12-2316-39BE for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-12_231605_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-12_231605_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-12_231605_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-12-2316-39BE for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-12_231605_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-12-2316-39BE for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-13-2315-EC2C for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-13_231548_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-13_231548_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-13_231548_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-13-2315-EC2C for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-13_231548_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-13-2315-EC2C for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

[misc] Add unit tests for core imagestats
  src/dataeval/core/_imagestats.py
  tests/core/test_imagestats.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview
