Repository aria-ml/dataeval: changes, and which GitLab CI jobs are due for each by the changed paths.
All: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

Path conditions:
  docs: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  update cache: (any of: src/**/*, docs/**/*, environment/*, README.md) or (any of: src/**/*, docs/**/*, uv.lock, *.md)
  minimum install: any of: src/**/*, tests/**/*, uv.lock
  typecheck: any of: src/**/*, tests/**/*, uv.lock
  verify lock: any of: pyproject.toml, uv.lock
  doctest: any of: src/**/*, docs/**/*, uv.lock, *.md
  linkchecker: any of: src/**/*, docs/**/*, uv.lock, *.md
  markdownlint: any of: src/**/*, docs/**/*, uv.lock, *.md
  pages preview: any of: src/**/*, docs/**/*, uv.lock, *.md

[misc] Remove unused code and clean up delay loaded module imports
  pyproject.toml
  src/dataeval/core/_clusterer.py
  src/dataeval/core/_mst.py
  src/dataeval/core/_numba.py
  src/dataeval/outputs/_estimators.py
Due: docs, update cache, minimum install, typecheck, verify lock, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 08-20-2314-4B16 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-20_231456_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-20_231456_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-20_231456_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-20-2314-4B16 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-20_231456_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-20-2314-4B16 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

New unit test to make sure warning is issued when kNN graph is too small in core/_mst.py
  tests/core/test_mst.py
Due: minimum install, typecheck

Fix metadata protocols to match MAITE
  src/dataeval/typing.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 08-21-2314-D328 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-21_231455_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-21_231455_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-21_231455_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-21-2314-D328 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-21_231455_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-21-2314-D328 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-22-2314-02CC for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-22_231437_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-22_231437_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-22_231437_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-22-2314-02CC for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-22_231437_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-22-2314-02CC for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-23-2314-86B8 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-23_231443_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-23_231443_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-23_231443_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-23-2314-86B8 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-23_231443_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-23-2314-86B8 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-24-2314-3244 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-24_231427_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-24_231427_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-24_231427_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-24-2314-3244 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-24_231427_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-24-2314-3244 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

Add callback function for progress indicator
  src/dataeval/core/_processor.py
  tests/core/test_processor.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

Add documentation for progress_callback
  src/dataeval/core/_processor.py
Due: docs, update cache, minimum install, typecheck, doctest, linkchecker, markdownlint, pages preview

Release v0.91.2
  CHANGELOG.md
  docs/source/.jupyter_cache/global.db
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

Release v0.91.2
  CHANGELOG.md
  docs/source/how_to/index.md
  docs/source/tutorials/index.md
Due: docs, update cache, doctest, linkchecker, markdownlint, pages preview

ghrs: snap 08-25-2314-27CA for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-25_231446_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-25_231446_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-25_231446_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-25-2314-27CA for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-25_231446_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-25-2314-27CA for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-26-2313-EA18 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-26_231359_top_paths_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-26_231359_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-26_231359_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-26-2313-EA18 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-26_231359_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-26-2313-EA18 for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-27-2314-4BED for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-27_231420_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-27_231420_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-27-2314-4BED for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-27_231420_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none

ghrs: report 08-27-2314-4BED for aria-ml/dataeval
  aria-ml/dataeval/latest-report/report.html
  aria-ml/dataeval/latest-report/report.md
  aria-ml/dataeval/latest-report/report.pdf
  aria-ml/dataeval/latest-report/report_for_pdf.html
Due: none

ghrs: snap 08-28-2314-36C1 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-28_231434_top_referrers_snapshot.csv
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-28_231434_views_clones_series_fragment.csv
Due: none

ghrs: vc agg 08-28-2314-36C1 for aria-ml/dataeval
  aria-ml/dataeval/ghrs-data/snapshots/2025-08-28_231434_views_clones_series_fragment.csv
  aria-ml/dataeval/ghrs-data/views_clones_aggregate.csv
Due: none
